* {
  box-sizing: border-box;
}

header {
  background-color: #bac2c0;
  color:inherit;
  text-align: center;
  position: relative;
  width: 100%;
  display: inline-block;
}

body {
  background-color: #fcfcfc;
  font-family: 'avenir', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 2.25em;
  font-weight: 500;
  padding: 10px;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-decoration: underline;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

main {
  padding:0px;
}

/*images*/
img {
  width:95%;
}

/*links*/
a {
  color: #2e2e2e;
}

a:visited {
  color: #2e2e2e;
}

a:hover{
  opacity: 0.6;
}

a:focus {
  color: #2e2e2e;
}

a:active {
  color: #2e2e2e;
}

footer {
  background-color: #e8e8e8;
  padding-left: 10px;
  padding-top: 5px;
}

.button {
  display: inline-block;
  background-color: #e6f2f0;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.2s;
  border: #99c4bd solid 3px;
}

.button.contact {
  display: inline-block;
  background-color: #BECFCE;
  text-align: center;
  font-weight: 400;
  padding: 15px 20px;
  border-radius: 3px;
  transition: 0.2s;
  border: #99c4bd
}

.button:hover {
  opacity: 0.8;
  background-color: #99c4bd;
  color:#FFFFFF;
}

.button.cv {
  text-transform: uppercase;
  display: inline-block;
  background-color: #e6f2f0;
  text-align: center;
  font-weight: 400;
  padding: 15px 20px;
  border: #99c4bd solid 5px;
  border-radius: 3px;
  transition: 0.2s;
}
.cv {
  padding-left: 35px;
  padding-top: 50px;
}

.button.cv:hover {
  opacity: 0.8;
  background-color: #99c4bd;
  color:#FFFFFF;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

nav>ul>li>a {
  padding: 10px 20px;
  font-weight: 350;
  color: #4a4a4a;
  text-decoration: none;
}

nav>ul>li>a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#hero {
  background-color: #EAF3F0;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.container {
  padding: 0 20px;
}

.row {
  margin: 15px 0px;
  display:block;
  /* 25px top and bottom, 0 left and right */
}

#work.row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 150px;
}

.footer {
  text-align: center;
}

.social {
  margin:0 auto;
  width: 100%;
  justify-content: center;
  padding: 30px;
  display:flex;
  text-align:center;
}

.row2{
  display:block;
}

.social-hover:hover {
  opacity: .5;
}

.social-hover {
  padding:10px;
}

.col-sm-12 {
  width: 100%;
  padding: 30px;
}


.links {
  text-align: center;
}

.ic2 {
  max-width: 80%;
  padding: 30px;
  justify-content: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 25px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.col-sm-6 {
  width:50%;
}

.copy {
  text-align: center;
}

.dim {
opacity: 0.8;
}

.p {
  opacity: 0.7;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
  }


  nav > ul > li {
    display: inline-block;
  }

  .p {
    padding:0 70px;
  }

  #hero span {
    display: block;
  }

.col-md-6 {
  width: 50%;
  padding:15px;
}

.row {
  display:flex;
}

.logo {
  min-width: 200px;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

main {
  padding: 0px 30px 0px 30px;
}

.photome {
  max-width: 500px;
  max-height: 600px;
  padding-left: 30px;
}

.story {
  padding-right: 20px;
}
.row2{
  display:flex;
}
/* ==============================
Large devices (900px or larger)
================================= */
@media only screen and (min-width: 900px) {

  .story {
    padding-right: 40px;
  }

}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
